<!--jianghuDisplayTextV4.html >>>>>>>>>>> -->
<!--设置 常量数据值转换文字 数据 -->
<script type="text/javascript">
// 数据字段文本
window.getDisplayText = (metadata, value, key) => {
  let labelText;
  if(typeof metadata !== 'object') {
    return value;
  }
  if(metadata instanceof Array) {
    const findItem = metadata.find(item => item.value === value);
    labelText = findItem && findItem.text;
  } else {
    labelText = key && metadata[key].text;
  }
  return labelText || value;
}
</script>
<!--jianghuDisplayTextV4.html <<<<<<<<<<<<-->
