<!-- jianghuDisplayTextV4.html >>>>>>>>>>> -->
<!-- 设置 常量数据值转换文字 数据 -->
<script type="text/javascript">
// 数据字段文本
window.getDisplayText = ({displayObj, displayValue, displayKey}) => {
  let labelText;
  if(typeof displayObj !== 'object') {
    return displayValue;
  }
  if(displayObj instanceof Array) {
    const findItem = displayObj.find(item => item.value === displayValue);
    labelText = findItem && findItem.text;
  } else {
    labelText = displayKey && displayObj[displayKey].text;
  }
  return labelText || displayValue;
}
</script>
<!-- jianghuDisplayTextV4.html <<<<<<<<<<<< -->
