<!-- prepareAppInfoV4.html >>>>>>>>>>> -->
<!-- 设置 window.appInfo 数据 -->
<script type="text/javascript">
window.appInfo = {
    appId: '<$ ctx.app.config.appId $>',
    authTokenKey: '<$ ctx.app.config.authTokenKey $>',
    pageId: '<$ ctx.packagePage.pageId $>',
    upload: '/<$ ctx.app.config.appId $>/upload',
    public: '/<$ ctx.app.config.appId $>/public',
    userAgent: navigator.userAgent ? navigator.userAgent : '',
}
if (window.appInfo.userAgent.length > 127) {
    window.appInfo.userAgent = window.appInfo.userAgent.substring(0, 126);
}
</script>
<!-- prepareAppInfoV4.html<<<<<<<<<<<< -->
