<!-- uiAction.html >>>>>>>>>>>>> -->
<script>
  (function () {
    const excudeTimeout = async (timeout) => {
      await new Promise((resolve, reject) => {
        setTimeout(()=> {
          resolve();
        }, timeout)
      });
    }

    // 当前页面的 vue 组件，name -> vue
    window.$vueComponent = {};
    // 当前页面的 vue 中的 computed 数据
    window.vueComputed = {}
    // 当前页面的 vue 中的 data 数据
    window.vueData = {};

    window.registerData = (data, computed) => {
      Object.assign(window.vueData, data)
      Object.assign(window.vueComputed, computed)
    }

    const urlPathList = window.location.pathname.split('/');
    const currentPageId = urlPathList && urlPathList[urlPathList.length - 1];

    window.jianghuUiActionMixins = {
      beforeCreate() {
        if(this.$options.vueComponent) {
          window.$vueComponent[this.$options.vueComponent] = this;
        }
        Object.assign(window.vueData, this.$options.jhData)
      },
    };

  })();
  </script>
<!-- <<<<<<<<<<<<< uiAction.html -->
