<template id="jhLayout-v3">
  <v-app id="inspire" mobile-breakpoint="sm">
    <div v-if="layoutLoading" class="text-center mt-10">
      <v-progress-circular
          :size="70"
          :width="7"
          color="success"
          indeterminate
      ></v-progress-circular>
    </div>
    <template v-else>
      <v-navigation-drawer
          v-model="drawer"
          app
          clipped
          v-if="isMobile"
          style="z-index: 99999"
      >
        <v-list>
          <v-list-item-group
              v-model="selectedItem"
              color="success"
          >
            <v-list-item
                disabled
                :class="{'pa-2': !isMobile}"
                style="height: 80px!important; color: #333333"
            >
              <v-list-item-content :class="{'pl-3': isMobile, 'pa-0': isMobile}">
                <v-list-item-title style="font-size: 18px!important; font-weight: bold">
                  {{ appTitle }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item
                v-for="item in inMenuList"
                :class="{'pa-2': !isMobile}"
                :key="item.path"
                @click="jump(item.path, item.query)"
            >
              <v-list-item-content :class="{'pl-3': isMobile, 'pa-0': isMobile}">
                <v-list-item-title style="font-size: 14px;">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar
          app
          clipped-left
          height="70"
          :class="{'px-12': !isMobile, 'px-4': isMobile}"
          style="z-index: 50;"
          flat
      >
        <v-app-bar-nav-icon color="success" @click.stop="drawer = !drawer" v-if="isMobile"></v-app-bar-nav-icon>

        <v-toolbar-title ref="toolbarTitle" class="mr-8 pa-0 align-center" style="font-size: 14px" :style="{'flex': isMobile ? 1 : 'none'}">
          <span class="title" style="font-size: 18px!important; font-weight: bold">{{ appTitle }}</span>
        </v-toolbar-title>

        <v-tabs
            v-model="selectedItem"
            v-if="!isMobile"
            show-arrows
            slider-size="0"
            color="success"
            :style="{maxWidth: tabsMaxWidth}"
        >
          <template v-for="item in inMenuList">
            <v-tab
                class="px-5 headerTab"
                active-class="headerTabActive"
                :key="item.path"
                @click="jump(item.path, item.query)"
            >
              {{ item.title }}
            </v-tab>
            <v-divider
                style="max-height: 35px;min-height: 35px;align-self: center;"
                v-if="item.path.includes('operationManual')"
                vertical
            ></v-divider>
          </template>
        </v-tabs>

        <div style="white-space: nowrap">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <template v-if="!isMobile">
                <v-btn disabled text class="ml-1 mr-0 pr-0 text-none" v-on="on">
                  {{ userInfo.user.username }}
                </v-btn>
              </template>
              <v-btn icon small class="ml-1" color="#A1A5B7" v-on="on">
                <v-icon>mdi-account-circle</v-icon>
              </v-btn>
            </template>

            <v-list nav dense>

              <v-list-item
                  class="mt-2"
              >
                <v-list-item-icon class="mr-2 mt-4">
                  <v-icon color="#A1A5B7" >mdi-account</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 14px; color: #41434f">{{ userInfo.user.userId }}</v-list-item-title>
                  <v-list-item-subtitle style="font-size: 14px; color: #41434f">{{ userInfo.user.username }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item
                  v-for="(item, index) in profileMenus"
                  :key="index"
                  :href="item.path"
                  class="mt-2"
              >
                <v-list-item-icon>
                  <v-icon color="#A1A5B7">{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 14px; color: #41434f">{{ item.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-for="avatarMenu of inAvatarMenuList" :key="avatarMenu.path" :href="avatarMenu.path">
                <v-list-item-icon class="mr-2">
                  <v-icon color="#A1A5B7" >mdi-account-cog-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 14px; color: #41434f">{{ avatarMenu.title }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item @click="logout">
                <v-list-item-icon class="mr-2">
                  <v-icon color="#A1A5B7" >mdi-logout</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 14px; color: #41434f">登出</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-app-bar>

      <v-main class="d-flex flex-column">
        <div class="d-flex" :style="{'flex-wrap': isMobile ? 'wrap' : 'nowrap'}" :class="{'px-12': !isMobile, 'px-4': isMobile}">
          <div>
            <div class="appTitle pt-5" style="font-size: 18px; font-weight: bold"><slot name='breadcrumbsTitle' :isMobile="isMobile">{{breadcrumbs[1].fullText}}</slot></div>
            <slot name='breadcrumbsList' :isMobile="isMobile">
              <v-breadcrumbs
                class="pb-4 pt-0 pl-0"
                :items="breadcrumbs"
                divider="-"
              ></v-breadcrumbs>
            </slot>
          </div>
          <slot name="topRightWidget" :isMobile="isMobile"></slot>
          <div style="flex: 1" class="outSideMain" :class="{'pt-0': isMobile, 'pt-2': !isMobile}" >
            <slot name='serverSearch' :isMobile="isMobile"></slot>
          </div>
        </div>
        <div style="flex: 1" :class="{'px-12': !isMobile, 'pt-4': fullScreen}">
          <slot :isMobile="isMobile"></slot>
        </div>
      </v-main>
    </template>
  </v-app>
</template>
<!--jhLayout.html start-->
<script>
Vue.component("jh-layout-v3", {
  vuetify: new Vuetify(),
  name: 'jh-layout-v3',
  props: {
    fullScreen: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    // 是否与登录
    layoutLoading: true,

    selectedItem: -1,
    selectItemTitle: '',
    drawer: null,

    appDirectoryLink: '<$ ctx.app.config.appDirectoryLink $>',
    appType: '<$ ctx.app.config.appType $>',
    appTitle: '<$ ctx.app.config.appTitle $>',

    userInfo: {
      user: {}
    },
    breadcrumbs: [
      {
        text: '首页',
        fullText: '首页',
        disabled: true,
      },
      {
        text: '首页',
        fullText: '首页',
        disabled: true,
        href: ''
      },
    ],

    // 用户菜单
    inMenuList: [],
    inAvatarMenuList: [],
    profileMenus: [],
    tabsMaxWidth: 'calc(100vw - 353px)'
  }),

  watch: {},

  computed: {
    isMobile() {
      return window.innerWidth < 600;
    }
  },

  async created() {
    await this.getLoginUserInfo();
    this.computedMenuList();
    this.locateCurrentMenuItem();
    this.getTabsMaxWidth();
  },

  methods: {
    // 动态计算菜单栏目的最大宽度，按照实际的标题宽度计算
    getTabsMaxWidth() {
      this.$nextTick(() => {
        if(this.$refs.toolbarTitle) {
          this.tabsMaxWidth = 'calc(100vw - ' + (this.$refs.toolbarTitle.offsetWidth + 249) + 'px)';
        }
      })
    },
    // 跳转链接
    jump(url, queryParams) {
      if (queryParams) {
        const queryStrings = Object.keys(queryParams)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(queryParams[k]))
            .join('&');
        window.location.href = url + '?' + queryStrings;
      } else {
        window.location.href = url;
      }
    },
    // 定位当前页面在属于哪个菜单
    locateCurrentMenuItem() {
      // 遍历菜单 path 进行匹配
      const index = _.findIndex(this.inMenuList, {path: location.pathname});
      if (index > -1) {
        // 设置标题、菜单选中
        this.selectedItem = index + (this.isMobile ? 1 : 0);
        this.selectItemTitle = this.inMenuList[index].title;
        document.title = this.appTitle + (this.selectItemTitle ? " - " + this.selectItemTitle : "")
      }
    },
    // 获取用户信息
    async getLoginUserInfo() {
      const userInfo = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'allPage',
            actionId: 'userInfo',
            actionData: {},
          }
        }
      }).then(response => {
        return response.data.appData.resultData;
      })
      this.userInfo = userInfo;
      this.$emit('layoutData', { userInfo: this.userInfo })
      this.layoutLoading = false;
    },
    computedMenuList() {
      const urlPathList = window.location.pathname.split('/');
      const currentPageId = urlPathList && urlPathList[urlPathList.length - 1];
      const appType = '<$ ctx.app.config.appType $>';
      const urlParams = new URLSearchParams(location.search);
      let title = urlParams.get('title');

      // 处理过长的 title
      if (title && title.length > 10) {
        title = `${title.slice(0, 5)}...${title.slice(title.length - 4, title.length)}`
      }
      // || (_.includes(['dynamicInMenu', 'avatarInMenu'], page.pageType) && currentPageId === page.pageId)
      this.inMenuList = _
          .chain(this.userInfo.allowPageList)
          .filter(page => page.pageType === 'showInMenu' || (_.includes(['dynamicInMenu', 'avatarInMenu'], page.pageType) && currentPageId === page.pageId))
          .map((page) => {
            if(currentPageId === page.pageId) {
              // this.breadcrumbs[1].text = page.pageName.split('-')[0];
              this.breadcrumbs[1].text = page.pageType === 'dynamicInMenu' ? `${page.pageName}【${title}】` : page.pageName;
              this.breadcrumbs[1].fullText = page.pageName;
              this.breadcrumbs[1].href = `/${window.appInfo.appId}/page/${page.pageId}`;
            }
            return {
              path: `/${window.appInfo.appId}/page/${page.pageId}`,
              pageId: page.pageId,
              title: page.pageName.split('-')[0],
              sort: parseInt(page.sort)
            };
          })
          .orderBy(['sort'], ['asc'])
          .value();

      if (appType === 'multiApp' && this.appDirectoryLink) {
        console.log(this.appDirectoryLink)
        this.inMenuList.unshift({ path: this.appDirectoryLink, title: '回到目录' });
      }

      this.inAvatarMenuList = _
          .chain(this.userInfo.allowPageList)
          .filter(['pageType', 'showInAvatarMenu'])
          .map((page) => {
            return {
              path: `/${window.appInfo.appId}/page/${page.pageId}`,
              title: page.pageName,
              sort: parseInt(page.sort)
            };
          })
          .orderBy(['sort'], ['asc'])
          .value();
    },
    // 登出
    async logout() {
      try {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'logout'
            }
          }
        })
        vtoast.success('注销成功');
        localStorage.removeItem(`${window.appInfo.appId}_authToken`);
        setTimeout(() => {
          location.href = `/${window.appInfo.appId}/page/login`;
        }, 700);
      } catch (error) {
        vtoast.fail(error.errorReason);
        localStorage.removeItem(`${window.appInfo.appId}_authToken`);
        setTimeout(() => {
          location.href = `/${window.appInfo.appId}/page/login`;
        }, 700);
      }
    }
  },
  template: '#jhLayout-v3',
})
</script>
<!--jhLayout.html end-->
