<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><$ ctx.app.config.appTitle $></title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <link href="/<$ ctx.app.config.appId $>/public/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/<$ ctx.app.config.appId $>/public/css/vuetify.min.css" rel="stylesheet">
  <script type="text/javascript">
    window.appInfo = {
      appId: '<$ ctx.app.config.appId $>',
      upload: '/<$ ctx.app.config.appId $>/upload',
      public: '/<$ ctx.app.config.appId $>/public',
      userAgent: navigator.userAgent || '',
    }
    if (window.appInfo.userAgent.length > 127) {
      window.appInfo.userAgent = window.appInfo.userAgent.substring(0, 126);
    }
  </script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/lodash.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/dayjs.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/axios.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/vue.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/js/lib/vuetify.min.js"></script>
  <style>
    body {
      --cPrimaryColor: <$ ctx.app.config.primaryColor $>;
    }
    body .v-application .primary {
      background-color: var(--cPrimaryColor) !important;
      border-color: var(--cPrimaryColor) !important;
    }

    body .v-application .primary--text {
      color: var(--cPrimaryColor) !important;
      caret-color: var(--cPrimaryColor) !important;
    }
  </style>
  {% include 'common/jianghuAxios.html' %}
  {% include 'common/globalCSSV3.html' %}

  {% block css %}
  {% endblock %}

</head>

<body>


  <!-- 使用 x-template 的模式，避免 vue-slot 不能支持大写字母的问题 -->
  <script type="text/x-template" id="app-template">
    <div id="container">
      {% block vue_template %}
      {% endblock %}
      <jhToast/>
      <jhConfirmDialog/>
    </div>
  </script>

  <div id="app">
  </div>

  {% include 'common/htmlErrorCollection.html' %}
  {% include 'common/uiAction.html' %}
  {% include 'component/jhToast.html' %}
  {% include 'component/jhConfirmDialog.html' %}
  {% include 'layout/jhLayoutV3.html' %}

  {% block vue_body %}
  {% endblock %}
</body>
