<!-- bugfixTableWheelEvent.html >>>>>>>>> -->
<script>
  checkTableWrapper = (container) => {
    const tableWrapper = container.querySelector('.v-data-table__wrapper')
    if (_.isEmpty(tableWrapper)) {
      window.requestAnimationFrame(() => {
        checkTableWrapper(container);
      })
    } else {
      tableWrapper.onwheel = (event) => {
        event.stopPropagation()
      }
    }
  }

  checkAndResetWheelEvent = (param) => {
    const {containerClass, time} = param
    if(+new Date() - time > 300){
      return
    }
    const list = document.querySelectorAll(containerClass)
    if (_.isEmpty(list)) {
      window.requestAnimationFrame(() => {
        checkAndResetWheelEvent(param);
      })
    } else {
      for (const container of list) {
        checkTableWrapper(container)
      }
    }
  }

  document.addEventListener('click', () => {
    checkAndResetWheelEvent({containerClass: '.v-dialog--active .v-data-table', time: +new Date()})
    checkAndResetWheelEvent({containerClass: '.v-navigation-drawer--open .v-data-table', time: +new Date()})
  })
</script>
<!-- <<<<<<<<<< bugfixTableWheelEvent.html -->
