<!-- JH CSS >>>>>>>>>>>>> -->
<style>
    /* 表单 >>>>>> */
    .jh-input-label {
        color: var(--gray-800);
        font-weight: 400;
        font-size: 12px;
        line-height: 32px;
    }
    .jh-no-data {
      text-align: center;
      max-width: calc(100vw - 64px);
    }
    .jh-v-input .v-input__slot {
        margin: 0 !important;
    }
    .jh-v-input.bg-white .v-input__slot {
        background-color: #fff !important;
    }
    .jh-v-input .v-messages-outer,
    .jh-v-input .v-text-field__details {
        position: absolute !important;
        bottom: -23px !important;
        left: -10px !important;
    }
    .jh-v-input .v-input__append-outer {
        margin-top: 0 !important;
    }
    .jh-v-input .v-input__icon--append button {
        font-size: 18px;
    }
    /* <<<<< 表单 */


    /* header 菜单 >>>>>> */
    .jh-header-tab {
        border-radius: 5px;
        margin: 8px 0;
        text-transform: none;
        font-weight: 400;
        min-width: auto;
    }
    .jh-header-tab-active {
        background: #F6F6F6;
        font-weight: 500;
    }

    .jh-header-tab::before {
        border-radius: 5px !important;
    }

    .jh-header-tab:hover::before {
        border-radius: 5px !important;
        opacity: 0.1 !important;
    }
    /* <<<<< header 菜单 */


    /* tab >>>>>> */
    .custom-tabs .v-tabs-bar {
        height: 32px;
    }
    .custom-tabs.v-tabs .v-tab:before,
    .custom-tabs.v-tabs .v-tab--active:before {
        display: none;
    }
    .custom-tabs .v-tab {
        min-width: auto;
        padding: 0px;
        margin-right: 30px;
        font-size: 13px !important;
    }
    /* <<<<< tab */


    /* 字体 >>>>>> */
    .jh-font-size-10 {
        font-size: 10px;
    }
    .jh-font-size-12, .jh-font-size-2 {
        font-size: 12px;
    }
    .jh-font-size-13, .jh-font-size-3 {
        font-size: 13px;
    }
    /* <<<<< 字体 */

    /* dialog >>>>>> */
    .jh-fixed-dialog-height {
        min-height: 60%;
        max-height: 80%;
        background-color: #fff;
    }
    /* <<<<< dialog */
    
    /* 抽屉关闭按钮 */
    .drawer-close-float-btn {
        top: 120px !important;
        left: -40px !important;
    }
    /* 文档 */
    .jh-page-doc-container {
        height: calc(100vh - 130px);
    }
    /* 帮助icon */
    .mdi-help-circle-outline {
        transform: translateY(-1.5px) scale(1.1);
    }
    /* 分割线 */
    .jh-divider{
        border-color: rgba(0,0,0,.06) !important;
    }
    /* 抽屉 */
    body .v-navigation-drawer.jh-drawer-level-2{
        z-index: 102 !important;
    }
</style>
<!-- <<<<<<<<<<<<< JH CSS -->
