{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jhMenu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="pageSecondBar d-flex px-8"><div>
            <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">{{ breadcrumbs[1].fullText }}
              <!-- 帮助页按钮 -->
              <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </div>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-container class="fullScreen d-flex flex-column pa-0">
            <v-card class="rounded-lg">
              <v-row class="ma-0 align-center flex-none pt-0 pa-4 pb-0">
                <!--新增按钮-->
                <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
                  <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('startInsertItem')">新增</v-btn>
                </v-col>
                <v-spacer></v-spacer>
                <!--表格过滤-->
                <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="px-0 py-xs-0">
                  <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <!--表格-->
              <v-data-table
                :headers="headers"
                :items="tableDataFromBackend"
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                :items-per-page="20"
                mobile-breakpoint="0"
                :loading="isTableLoading"
                :class="{'zebraLine': showTableZebraLine }"
                checkbox-color="success"
                fixed-header
                class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                <!--表格行操作按钮-->
                <template v-slot:item.action="{ item }">
                  <span role="button" class="success--text mr-2 font-weight-medium font-size-3" @click="doUiAction('startUpdateItem', item)">
                    <v-icon size="14" class="success--text">mdi-note-edit-outline</v-icon>修改
                  </span>
                  <span role="button" class="success--text mr-2 font-weight-medium font-size-3" @click="doUiAction('deleteItem', item)">
                    <v-icon size="14" class="success--text">mdi-trash-can-outline</v-icon>删除
                  </span>
                </template>
                <!--表格底部右侧功能按钮-->
                <template v-slot:footer.prepend>
                  <span class="ml-2 table-search-hint-text">共{{ tableDataFromBackend.length }}条记录</span>
                  <v-menu top offset-y :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon>
                        <v-icon>mdi-menu</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <!--表格底部右侧分页-->
                <template v-slot:footer.page-text="pagination">
                    <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                    <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
              </v-data-table>
            </v-card>
          </v-container>
          <!--抽屉遮罩层-->
          <v-overlay app :value="isCreateDrawerShow || isUpdateDrawerShow || isHelpPageDrawerShow"></v-overlay>
          <!--新增抽屉-->
          <v-navigation-drawer v-model="isCreateDrawerShow" fixed temporary right width="80%" hide-overlay
                              class="elevation-24">
            <v-form v-model="isFormValid" v-if="isCreateDrawerShow" ref="form" lazy-validation>
              <!--抽屉标题-->
              <v-row>
                <span class="title pa-6 pl-8">添加信息</span>
              </v-row>
              <!--抽屉表单主体-->
              <v-row class="mt-0 px-6">
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生ID</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生ID" v-model="createItem.studentId"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">班级ID</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="班级ID"
                                v-model="createItem.classId"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生名字</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生名字"
                                v-model="createItem.name"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">年级</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="年级"
                                v-model="createItem.level"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">性别</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="性别"
                                v-model="createItem.gender"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">出生日期</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="出生日期"
                                v-model="createItem.dateOfBirth"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">身高</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="身高"
                                v-model="createItem.bodyHeight"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生状态</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生状态"
                                v-model="createItem.studentStatus"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <span class="inputLabel">备注</span>
                  <v-textarea class="cus-v-input" no-resize dense single-line filled label="备注"
                              v-model="createItem.remarks"></v-textarea>
                </v-col>
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                <v-btn class="ml-2" @click="isCreateDrawerShow = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!--编辑抽屉-->
          <v-navigation-drawer v-model="isUpdateDrawerShow" fixed temporary right hide-overlay width="80%" class="elevation-24">
            <v-form v-model="isFormValid" v-if="isUpdateDrawerShow" ref="form" lazy-validation>
              <!--抽屉标题-->
              <v-row>
                <span class="title pa-6 pl-8">修改信息</span>
              </v-row>
              <!--抽屉表单-->
              <v-row class="mt-0 px-6">
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生ID</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生ID" v-model="updateItem.studentId"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">班级ID</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="班级ID" v-model="updateItem.classId"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生名字</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生名字"
                                v-model="updateItem.name"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">年级</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="年级" v-model="updateItem.level"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">性别</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="性别" v-model="updateItem.gender"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">出生日期</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="出生日期" v-model="updateItem.dateOfBirth"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">身高</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="身高" v-model="updateItem.bodyHeight"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生状态</span>
                  <v-text-field class="cus-v-input" dense single-line filled label="学生状态" v-model="updateItem.studentStatus"
                                :rules="requireRules"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <span class="inputLabel">备注</span>
                  <v-textarea class="cus-v-input" no-resize dense single-line filled label="备注"
                              v-model="updateItem.remarks"></v-textarea>
                </v-col>
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
                <v-btn class="ml-2" small @click="isUpdateDrawerShow = false">取消
                </v-btn>
              </v-row>
            </v-form>

            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#4.doUiAction.md`" width="100%" height="100%"></iframe>

          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShow = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jhToast />
    <jhMask />
    <jhConfirmDialog />
  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/fixedTableHeightV4.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vueComponent: 'page',
  vuetify: new Vuetify(),
  data: {
    breadcrumbs: window.breadcrumbs,
    isHelpPageDrawerShow: false,

    showTableZebraLine: true,
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 130, class: 'fixed', cellClass: 'fixed'},
      {text: "学生ID", value: "studentId", width: 120},
      {text: "班级ID", value: "classId", width: 140},
      {text: "学生名字", value: "name", width: 120},
      {text: "年级", value: "level", width: 120},
      {text: "性别", value: "gender", width: 120},
      {text: "出生日期", value: "dateOfBirth", width: 120},
      {text: "身高", value: "bodyHeight", width: 120},
      {text: "学生状态", value: "studentStatus", width: 120},
      {text: "备注", value: "remarks", width: 120},
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250}
    ],

    isCreateDrawerShow: false,
    createItem: {},
    isUpdateDrawerShow: false,
    updateItem: {},
  },
  watch: {},
  mounted() {
    this.doUiAction('refreshTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startInsertItem':
          await this.clearCreateForm();
          await this.openCreateDrawer();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.prepareCreateItem();
          await this.doCreateItem();
          await this.closeCreateDrawer();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.fillUpdateForm(uiActionData);
          await this.openUpdateDrawer();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.doUpdateItem();
          await this.refreshTableData();
          await this.closeUpdateDrawer();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog(uiActionData);
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },

    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'doUiAction',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });

      this.tableDataFromBackend = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },


    // ====================================Create >>>>>>>>>>>>>===========================================
    async clearCreateForm() {
      this.createItem = {};
    },
    // validate
    prepareValidate() {
      if (this.$refs.form.validate() === false) {
        throw new Error("[prepareValidate] 参数不符合要求");
      };
    },
    async openCreateDrawer() {
      this.isCreateDrawerShow = true;
    },
    async prepareCreateItem() {
      delete this.createItem.id;
    },
    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增学生");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'doUiAction',
            actionId: 'createItem',
            actionData: this.createItem
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增学生成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShow = false;
    },
    // ====================================Create End===========================================


    // ====================================Update >>>>>>>>>>>>>===========================================
    async fillUpdateForm(item) {
      this.updateItem = _.clone(item);
    },
    async openUpdateDrawer() {
      this.isUpdateDrawerShow = true;
    },
    async prepareUpdateItem() {
      // TODO: 对this.updateItem做一些数据处理
    },
    async doUpdateItem() {
      const {id, ...actionData} = this.updateItem;
      await window.vtoast.loading("修改学生");
      await window.jhMask.show();
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'doUiAction',
            actionId: 'updateItem',
            actionData: actionData,
            where: {id}
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("修改学生成功");
    },
    async closeUpdateDrawer() {
      this.isUpdateDrawerShow = false;
    },
    // ====================================Update End===========================================


    // ====================================Delete >>>>>>>>>>>>>===========================================
    async confirmDeleteItemDialog(item) {
      if (!item || !item.id) {
        window.vtoast.fail("数据异常");
        return
      }
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteFormDialog] 否");
      }
    },
    async doDeleteItem({item}) {
      const {id} = item;
      await window.vtoast.loading("删除学生");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'doUiAction',
            actionId: 'deleteItem',
            actionData: {},
            where: {id}
          }
        }
      });
      await window.vtoast.success("删除学生成功");
    },
    // ====================================Delete End===========================================

  }
})
</script>

<style scoped>
</style>
{% endblock %}
