{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center">
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 text-body-1 font-weight-bold">帮助 </div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <v-card class="rounded-lg jh-page-doc-container pa-4 elevation-0">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <div v-if="error.errorCode">
            <h2>{{ error.errorCode }} : {{ error.errorReason }}</h2>
            <hr/>
            <h2>{{ error.errorReasonSupplement }}</h2>
          </div>
          <div v-else>
            <h2>亲，你似乎迷路了？</h2>
          </div>
          <!-- <<<<<<<<<<<<< 页面内容 -->
          </v-card>
        </div>
      </v-main>
    </v-app>
    <jh-toast/>
    <jh-mask/>
    <jh-confirm-dialog/>
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      error: {
        errorCode: null,
        errorReason: null,
        errorReasonSupplement: null,
      },
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '帮助',
          disabled: true,
        }
      ],
    }),
    async created() {
      const urlObj = new URLSearchParams(location.search);
      if (urlObj.get('errorCode')) {
        this.error.errorCode = urlObj.get('errorCode');
      }
      if (urlObj.get('errorReason')) {
        this.error.errorReason = urlObj.get('errorReason');
      }
      if (urlObj.get('errorReasonSupplement')) {
        this.error.errorReasonSupplement = urlObj.get('errorReasonSupplement');
      }
    },
    methods: {}
  })
</script>
{% endblock %}
