{% extends 'template/jhTemplateV4.html'%}

<!-- vue template 代码块 -->
{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div>
    <v-app>
    <v-main>
        <v-row align="center" justify="center" style="height: 100vh">
          <v-col cols="12" xs="1" sm="2" md="3" xl="4"></v-col>
          <v-col cols="12" xs="12" sm="8" md="6" xl="4">
            <v-card class="py-10 px-15">
              <v-card-text>
                <div class="mb-10 text-center text-h7 font-weight-bold">
                  <$ ctx.app.config.appTitle $>
                </div>
                <v-form>
                  <input class="mb-5 jh-v-input" v-model="userId" placeholder="用户名"/>
                  <input
                    class="mb-5 jh-v-input"
                    v-model="password"
                    :type="showPassword ? 'text' : 'password'"
                    @click:append="showPassword = !showPassword"
                    data-type="password"
                    @keyup.enter.exact="login"
                    placeholder="密码"
                  />
                </v-form>
                <v-checkbox
                    v-model="remember"
                    color="success"
                    label="记住密码"
                    class="mb-5"
                />
                <v-btn block large color="success" type="submit" @click="doUiAction('login')">登录</v-btn>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" xs="1" sm="2" md="3" xl="4"></v-col>
        </v-row>
    </v-main>
    </v-app>
    <jh-toast/>
    <jh-mask/>
    <jh-confirm-dialog/>
  </div>
</script>

<div id="app">
</div>

{% endblock %}

<!-- vue script 代码块 -->
<!-- 注意：本项目的 vue 为每个页面使用一个 vue 实例 -->
{% block vueScript %}

<!-- 加载定制样式 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/globalCSSFontV4.html' %}
{% include 'common/jianghuJs/globalCSSVuetifyV4.html' %}
<!-- <<<<<<<<<<<<< 加载定制样式 -->

{% include 'utility/jianghuJs/prepareDeviceIdV4.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    components: {},
    data() {
      return {
        userId: '',
        password: '',
        showPassword: false,
        remember: true,
        loginError: false,
        loginErrorText: '',
      };
    },
    created() {
    },
    mounted() {
      this.doUiAction('checkParams');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'checkParams':
            await this.checkParams();
            break;
          case 'login':
            await this.prepareLoginData();
            await this.doLogin();
            await this.loginSuccess();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // ------ uiAction >>>>>>>> -------
      async checkParams() {
        const urlParams = new URLSearchParams(location.search);
        if (urlParams.get('errorReason')) {
          window.vtoast.fail(urlParams.get('errorReason'));
        }
      },
      async prepareLoginData() {
        const urlParams = new URLSearchParams(location.search);
        this.redirectUrl = urlParams.get('redirectUrl');
        this.deviceId = window.deviceId;
        this.userId = (this.userId + '').replace(/\s+/g, '');
        this.password = this.password + '';
      },
      async doLogin() {
        try {
          const resultData = (await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'login',
                actionId: 'passwordLogin',
                actionData: { userId: this.userId, password: this.password, deviceId: this.deviceId },
              }
            }
          })).data.appData.resultData;
          this.loginResult = resultData;
        } catch (error) {
          console.error(error);
          throw new Error("登陆失败");
        }
      },
      async loginSuccess() {
        if (this.loginResult.authToken) {
          localStorage.setItem(`${window.appInfo.appId}_authToken`, this.loginResult.authToken);
          localStorage.setItem(`${window.appInfo.appId}_userId`, this.loginResult.userId);
          localStorage.setItem(`${window.appInfo.appId}_deviceId`, this.deviceId);
          vtoast.success('登陆成功');
          let redirectTo = `/${window.appInfo.appId}`;
          if (this.redirectUrl) {
            redirectTo = decodeURIComponent(this.redirectUrl);
          }
          location.href = redirectTo;
        }
      }
      // ------ <<<<<<<<<<< uiAction -------

    }
  });
</script>
<style scoped>
  .jh-v-input {
    border: 1px solid #E4E6EF;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 0 12px;
    color: #5E6278 !important;
    outline: none;
  }

  .jh-v-input:focus,
  .jh-v-input:focus-visible,
  input:focus-visible {
    border: 1px solid #B5B5C3 !important;
  }
</style>
{% endblock %}