{% extends 'template/jhTemplateV4.html'%}

<!-- vue template 代码块 -->
{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jhMenu />
      <v-main class="d-flex flex-column" style="margin-top: 80px">

        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc`" width="100%" height="100%"></iframe>
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

      </v-main>
    </v-app>

    <jhToast />
    <jhMask />
    <jhConfirmDialog />
  </div>
</script>


<script type="text/html" id="app-template">
  <div>
    <jh-layout-v4 fullScreen>
    </jh-layout-v4>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'layout/jhLayout.html' %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    breadcrumbs: window.breadcrumbs,
    isHelpPageDrawerShow: false,

    appInfo: window.appInfo,
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    }
  },
  watch: {},
  created() {},
  mounted() {},
  methods: {}
})
</script>
{% endblock %}
