{% extends 'template/jhTemplateV4.html'%}

<!-- vue template 代码块 -->
{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <div class="pt-3 text-h7 font-weight-bold">操作手册
          </div>
          <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <v-card class="rounded-lg jh-page-doc-container">
          <!-- 页面内容 >>>>>>>>>>>>> -->
            <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc`" width="100%" height="100%"></iframe>
          <!-- <<<<<<<<<<<<< 页面内容 -->
          </v-card>
        </div>

      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'layout/jhLayout.html' %}

<script type="module">

new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    isMobile: window.innerWidth < 500,
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: 'manual',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,

    appInfo: window.appInfo,
  }),
  computed: {},
  watch: {},
  created() {},
  mounted() {},
  methods: {}
})
</script>
{% endblock %}
