<!--jhScene.html >>>>>>>>>>>>> -->
<script type="text/html" id="jhScene">
<div class="jh-scene">
<v-btn-toggle v-model="selectedScene" class="ml-3">
  <v-btn small v-for="(scene, index) in sceneShowList" :key="index" @click="doUiAction('useScene', scene)">
    {{ scene.name }}
  </v-btn>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          v-bind="attrs"
          v-on="on"
          small
          :class="{'empty-scene-menu': sceneShowList.length == 0}"
      >
        <v-icon right small class="ml-0">mdi-chevron-down</v-icon>
      </v-btn>
    </template>
    <v-list dense class="pb-0">
      <v-list-item
          v-for="(scene, index) in sceneHideList"
          :key="index"
          @click="doUiAction('useScene', scene)"
      >
        <v-list-item-title>{{ scene.name }}</v-list-item-title>
      </v-list-item>
      <v-list-item @click="doUiAction('openAddScene')">
        <v-list-item-title class="success--text">
          <v-icon small class="success--text">mdi-plus</v-icon>
          <span class="success--text">新建场景</span>
        </v-list-item-title>
      </v-list-item>
      <v-list-item @click="doUiAction('openManageScene')">
        <v-list-item-title class="success--text">
          <v-icon small class="success--text">mdi-cog-outline</v-icon>
          <span class="success--text">场景管理</span>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</v-btn-toggle>

<!-- 新建场景 -->
<v-dialog
    v-model="isAddSceneShow"
    persistent
    width="70%"
>
  <v-card>
    <v-card-title>
      <div class="d-flex justify-space-between align-center" style="width: 100%;">
        <div style="font-size: 16px;">新建场景</div>
        <div>
          <v-btn class="elevation-0" fab x-small @click="doUiAction('closeAddScene')">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </div>
      </div>
    </v-card-title>
    <v-card-text>
      <v-container class="px-0">
        <div class="mb-4">
          <div class="mb-1">场景名称</div>
          <v-row>
            <v-col sm="12" md="4" xl="3">
              <v-text-field class="cus-v-input" :rules="requireRules" dense filled single-line hide-details v-model="editScene.name" placeholder="场景名称，最多10个字符"></v-text-field>
            </v-col>
          </v-row>
        </div>
        <div class="mb-4">
          <div>筛选条件</div>
          <slot name="form" :form="editScene.form">
            <div>未配置form slot</div>
          </slot>
        </div>
        <v-checkbox v-model="editScene.default" :value="true" dense hide-details class="mt-0" label="设置为默认场景"></v-checkbox>
        <v-row class="justify-end mx-0 mt-8">
          <v-btn color="success" @click="doUiAction('doAddScene')" small>保存</v-btn>
          <v-btn class="ml-2" @click="doUiAction('closeAddScene')" small>取消</v-btn>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</v-dialog>


<!-- 场景设置 -->
<v-dialog
    v-model="isSceneManageShow"
    persistent
    width="800px"
>
  <v-card class="scene-manage">
    <v-card-title>
      <div class="d-flex justify-space-between align-center" style="width: 100%;">
        <div style="font-size: 16px;">场景管理</div>
        <div>
          <v-btn class="elevation-0" fab x-small @click="doUiAction('closeManageScene')">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </div>
      </div>
    </v-card-title>
    <v-card-text>
      <v-container class="px-0">
        <!-- <div class="mb-2">您可通过拖拽管理场景</div> -->
        <v-row justify="space-between" align="center">
          <v-col cols="5">
            <v-card outlined>
              <v-card-title class="pa-2">
                <v-checkbox v-model="manageScene.selectedAllShowScene" dense hide-details class="mt-0" @change="doUiAction('onSelectedAllShowSceneChange')">
                  <template v-slot:label>
                    <h6>显示的场景</h6>
                  </template>
                </v-checkbox>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense class="scene-list">
                <v-list-item class="scene-item" v-for="(item, index) in manageScene.sceneShowList" :key="item.value" class="px-2" style="min-height: auto;">
                  <v-checkbox v-model="manageScene.selectedShowScene" :label="item.name" :value="item.id" dense hide-details class="mt-0" style="font-size: 13px;"
                              @change="doUiAction('onSelectedShowSceneChange')"></v-checkbox>
                  <div class="operate-btn">
                    <div @click.stop="doUiAction('doDeleteScene', {arrKey: 'sceneShowList', item, index })">
                      <v-icon>mdi-delete</v-icon>
                    </div>
                  </div>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
          <v-col cols="2" class="text-center">
            <v-btn depressed color="primary" :disabled="manageScene.selectedShowScene.length == 0" @click="doUiAction('hideSelectedItem')">
              <v-icon dark> mdi-chevron-right</v-icon>
            </v-btn>
            <v-btn class="mt-2" depressed color="primary" :disabled="manageScene.selectedHideScene.length == 0" @click="doUiAction('showSelectedItem')">
              <v-icon dark> mdi-chevron-left</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="5">
            <v-card outlined>
              <v-card-title class="pa-2">
                <v-checkbox v-model="manageScene.selectedAllHideScene" dense hide-details class="mt-0" @change="doUiAction('onSelectedAllHideSceneChange')">
                  <template v-slot:label>
                    <h6>隐藏的场景</h6>
                  </template>
                </v-checkbox>
              </v-card-title>
              <v-divider></v-divider>
              <v-list dense class="scene-list">
                <v-list-item v-for="(item, index) in manageScene.sceneHideList" :key="item.value" class="px-2 " style="min-height: auto;">
                  <v-checkbox v-model="manageScene.selectedHideScene" :label="item.name" :value="item.id" dense hide-details class="mt-0" style="font-size: 13px;"
                              @change="doUiAction('onSelectedHideSceneChange')"></v-checkbox>
                  <div class="operate-btn">
                    <div @click.stop="doUiAction('doDeleteScene', {arrKey: 'sceneHideList', item, index })">
                      <v-icon>mdi-delete</v-icon>
                    </div>
                  </div>
                </v-list-item>
              </v-list>
            </v-card>
          </v-col>
        </v-row>
        <div class="mt-2" role="button" @click="isAddSceneShow = true">
          <v-icon right small class="ml-0">mdi-plus</v-icon>
          新建场景
        </div>
        <v-row class="justify-end mx-0 mt-8">
          <v-btn color="success" @click="doUiAction('doManageScene')" small>保存</v-btn>
          <v-btn class="ml-2" @click="doUiAction('closeManageScene')" small>取消</v-btn>
        </v-row>
      </v-container>
    </v-card-text>
  </v-card>
</v-dialog>
</div>
</script>

<script>
Vue.component('jhScene', {
  template: "#jhScene",
  vueComponent: 'jhScene',
  vuetify: new Vuetify(),
  props: {
    initFormData: {
      type: Object,
      default: function () {
        return {};
      }
    },
    sceneId: {
      type: String,
      default: location.href.split('/').pop()
    }
  },
  data() {
    return {
      requireRules: [
        v => !!v || 'This is required',
      ],

      // 列表
      sceneList: [],
      sceneShowList: [],
      sceneHideList: [],
      selectedScene: null,

      // 新建场景
      isAddSceneShow: false,
      editScene: {
        form: {}
      },

      // 场景管理
      isSceneManageShow: false,
      manageScene: {
        sceneShowList: [],
        sceneHideList: [],
        selectedAllShowScene: false,
        selectedAllHideScene: false,
        selectedShowScene: [],
        selectedHideScene: [],
      }
    };
  },
  created() {
    this.doUiAction('getSceneList');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getSceneList':
          await this.getSceneList();
          await this.useDefaultScene();
          break;
        case 'useScene':
          await this.useScene(uiActionData);
          break;
        case 'openAddScene':
          await this.prepareAddSeceneData();
          await this.openAddScene();
          break;
        case 'doAddScene':
          await this.doAddScene();
          await this.getSceneList();
          await this.prepareManageSceneData();
          await this.closeAddScene();
          break;
        case 'closeAddScene':
          await this.closeAddScene();
          await this.resetEditSceneData();
          break;
        case 'openManageScene':
          await this.prepareManageSceneData();
          await this.openManageScene();
          break;
        case 'doManageScene':
          await this.doManageScene();
          await this.getSceneList();
          await this.closeManageScene();
          await this.resetEditSceneData();
          break;
        case 'closeManageScene':
          await this.closeManageScene();
          break;
        case 'doDeleteScene':
          await this.doDeleteScene(uiActionData);
          await this.syncSelectChange();
          break;
        case 'hideSelectedItem':
          await this.hideSelectedItem();
          await this.syncSelectChange();
          break;
        case 'showSelectedItem':
          await this.showSelectedItem();
          await this.syncSelectChange();
          break;
        case 'onSelectedAllShowSceneChange':
          await this.onSelectedAllShowSceneChange();
          break;
        case 'onSelectedShowSceneChange':
          await this.onSelectedShowSceneChange();
          break;
        case 'onSelectedAllHideSceneChange':
          await this.onSelectedAllHideSceneChange();
          break;
        case 'onSelectedHideSceneChange':
          await this.onSelectedHideSceneChange();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },

    /**
     * 获取UUID
     * @returns {string}
     */
    getUUID(prefix) {
      var s = [];
      var hexDigits = "0123456789abcdef";
      for (var i = 0; i < 10; i++) {
        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
      }
      s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
      s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
      var uuid = s.join("");
      return prefix + '-' + uuid;
    },

    // 场景列表
    async getSceneList() {
      let sceneData = JSON.parse(localStorage.getItem('sceneData') || '{}');
      this.sceneList = sceneData[this.sceneId] || [];
      this.sceneHideList = this.sceneList.filter(item => !item.show);
      this.sceneShowList = this.sceneList.filter(item => item.show);
    },

    // 使用默认场景
    async useDefaultScene() {
      let defaultScene = this.sceneList.find(item => item.default === true);
      if (defaultScene) {
        this.selectedScene = this.sceneList.findIndex(item => item.default === true);
        this.useScene(defaultScene);
      }
    },

    // 使用场景
    async useScene(scene) {
      this.$emit('useScene', scene);
    },

    // =================================添加场景 start ======================================
    // 准备添加场景数据
    async prepareAddSeceneData() {
      this.editScene = {
        form: _.cloneDeep(this.initFormData)
      };
    },

    // 打开场景添加弹框
    async openAddScene() {
      this.isAddSceneShow = true;
    },

    // 添加场景
    async doAddScene() {
      let sceneData = JSON.parse(localStorage.getItem('sceneData') || '{}');
      let sceneList = sceneData[this.sceneId] || [];
      // 清空默认场景
      if (this.editScene.default) {
        sceneList.forEach(item => {
          item.default = false;
        });
      }
      sceneList.push({...this.editScene, show: true, id: this.getUUID('scene')});
      sceneData[this.sceneId] = sceneList;
      localStorage.setItem('sceneData', JSON.stringify(sceneData));
    },

    // 关闭场景添加弹框
    async closeAddScene() {
      this.isAddSceneShow = false;
    },

    // 重置editScene表单
    async resetEditSceneData() {
      this.editScene = {
        form: {}
      }
    },

    // 准备场景编辑数据
    async setEditSceneForm(form) {
      this.editScene = {
        form: _.clone(form)
      }
    },

    // =================================场景管理 start ======================================

    // 准备场景管理数据
    async prepareManageSceneData() {
      this.manageScene = {
        sceneShowList: _.clone(this.sceneShowList),
        sceneHideList: _.clone(this.sceneHideList),
        selectedAllShowScene: false,
        selectedAllHideScene: false,
        selectedShowScene: [],
        selectedHideScene: [],
      }
    },

    // 打开场景管理弹框
    async openManageScene() {
      this.isSceneManageShow = true;
    },

    // 提交场景管理
    async doManageScene() {
      let sceneData = JSON.parse(localStorage.getItem('sceneData') || '{}');
      sceneData[this.sceneId] = [
        ...this.manageScene.sceneShowList.map(item => ({...item, show: true})),
        ...this.manageScene.sceneHideList.map(item => ({...item, show: false}))
      ];
      localStorage.setItem('sceneData', JSON.stringify(sceneData));
    },

    // 关闭场景管理弹框
    async closeManageScene() {
      this.isSceneManageShow = false;
    },

    // 删除场景
    async doDeleteScene({arrKey, item, index}) {
      this.manageScene[arrKey].splice(index, 1);
    },

    // 隐藏选中的场景
    async hideSelectedItem() {
      this.manageScene.sceneHideList = this.manageScene.sceneHideList.concat(this.manageScene.sceneShowList.filter(item => this.manageScene.selectedShowScene.includes(item.id)));
      this.manageScene.sceneShowList = this.manageScene.sceneShowList.filter(item => !this.manageScene.selectedShowScene.includes(item.id));
      this.manageScene.selectedShowScene = [];
    },

    // 显示选中的场景
    async showSelectedItem() {
      this.manageScene.sceneShowList = this.manageScene.sceneShowList.concat(this.manageScene.sceneHideList.filter(item => this.manageScene.selectedHideScene.includes(item.id)));
      this.manageScene.sceneHideList = this.manageScene.sceneHideList.filter(item => !this.manageScene.selectedHideScene.includes(item.id));
      this.manageScene.selectedHideScene = [];
    },

    // 全选显示的场景
    async onSelectedAllShowSceneChange() {
      this.manageScene.selectedShowScene = this.manageScene.selectedAllShowScene ? this.manageScene.sceneShowList.map(item => item.id) : [];
    },

    // 勾选显示的场景
    async onSelectedShowSceneChange() {
      this.manageScene.selectedAllShowScene = this.manageScene.sceneShowList.length == 0 ? false : (this.manageScene.selectedShowScene || []).length === this.manageScene.sceneShowList.length;
    },

    // 全选隐藏的场景
    async onSelectedAllHideSceneChange() {
      this.manageScene.selectedHideScene = this.manageScene.selectedAllHideScene ? this.manageScene.sceneHideList.map(item => item.id) : [];
    },

    // 勾选隐藏的场景
    async onSelectedHideSceneChange() {
      this.manageScene.selectedAllHideScene = this.manageScene.sceneHideList.length == 0 ? false : (this.manageScene.selectedHideScene || []).length === this.manageScene.sceneHideList.length;
    },

    // 同步勾选
    async syncSelectChange() {
      this.manageScene.selectedShowScene = _.clone(this.manageScene.selectedShowScene);
      this.manageScene.selectedHideScene = _.clone(this.manageScene.selectedHideScene);
      this.$nextTick(() => {
        this.onSelectedShowSceneChange();
        this.onSelectedHideSceneChange();
      });
    }

  },
});

</script>
<style>
.jh-scene {
  display: inline-block;
}

.jh-scene .empty-scene-menu {
  border-radius: 4px !important;
  border: 1px solid !important;
}

.scene-manage .scene-list {
  height: 200px;
  overflow-y: auto;
}

.scene-manage .scene-list > div {
  position: relative;
}

.scene-manage .scene-list > div .operate-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.scene-manage .scene-list > div:hover .operate-btn {
  display: block;
}

.scene-manage .scene-list > div .operate-btn i::before {
  font-size: 18px;
}
</style>
<!-- <<<<<<<<<<<<< jhScene.html -->
