<style>
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxMIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxEIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxLIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxHIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfABc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCBc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCxc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.v-list-item__title {
  font-size: 0.875rem!important;
}
.preBox { display: flex;  }
.preBox pre {
  flex: 1;
}
pre { font-size: 0.5rem!important; overflow: auto;  }
pre.hide {  max-height: 40px; overflow: hidden; max-width: 200px }
pre:not(.hide) .string { color: green; white-space: normal; }
pre.hide .string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.cus-v-input .v-input__slot{
  margin: 0!important;
}
.cus-v-input .v-messages-outer,
.cus-v-input .v-text-field__details{
  position: absolute!important;
  bottom: -23px!important;
  left: -10px!important;
}
/* .v-btn:not(.v-btn--round).v-size--default {
    height: 40px!important;
} */
.cus-v-input .v-input__append-outer {
  margin-top: 0!important;
}
.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: #F6F6F6!important;
}
.cus-table {
  border: 1px solid #EEEEEE!important;
}
.cus-card {
  border: 1px solid #EEEEEE!important;
}
.v-data-table__progress{
  height: 10px!important;
}
.v-data-table__progress .v-progress-linear{
  max-width: 80vw;
}
.v-data-table__empty-wrapper td {
  max-width: 80vw;
  text-align: left;
}
.v-application .theme--dark.secondary{
  background-color: #22262e!important;
  border-color: #22262e!important;
}
.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #fbfbfb!important;
}

body {
  font-size: 14px;
  background: #f5f8fa!important;
}
.theme--light.v-application {
  background: transparent!important;
}
/* 固定表头部第一个字段 */
table > tbody > tr > td.fixed:nth-child(1),
table > thead > tr > th.fixed:nth-child(1)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 2!important;
  background: white;
  -webkit-box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  border-right: none;
}

/* 固定表头第二个字段 */
table > tbody > tr > td.fixed:nth-child(2),
table > thead > tr > th.fixed:nth-child(2)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 100px;
  z-index: 4;
  background: white;
  -webkit-box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  box-shadow: -1px 0px 3px -1px rgba(0, 0, 0, 0.19);
  border-right: none;
}

/* 固定表头最后一个字段 */
table > tbody > tr > td.fixed:nth-last-child(1),
table > thead > tr > th.fixed:nth-last-child(1)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  z-index: 3;
  background: white;
  border: none;
  box-shadow: none;
}
table > thead > tr > th.fixed:nth-last-child(1) {
  top: 0;
}
th  {
  white-space: nowrap;
}
td:not(.v-picker td),
th:not(.v-picker th) {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
}
.theme--light.v-data-table .v-data-footer {
  border-top: 0;
}
.theme--light.v-data-table.v-data-table--fixed-header thead th {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
  box-shadow: none;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>td {
  color: #41434f;
  min-height: 52px;
  height: 52px;
}
.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
  color: rgba(181,181,195);
  font-weight: 600;
  font-size: 13px;
}
.fullScreen {
  min-height: calc(100vh - 155px);
}
.flex-none {
  flex: none;
}
.v-application .v-btn--outlined.theme--light {
  background-color: white!important;
}
.v-application .v-btn--outlined.theme--dark {
  background-color: #333333!important;
}
.v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr>th.fixed {
  z-index: 2!important;
}
.v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr>th {
  z-index: 1!important;
}
.v-application .align-center.text-start {
  text-align: center!important;
}
.v-dialog--fullscreen .v-sheet .container{
  height: 100vh;
  margin: 15vh 0 0 0;
  background: #ffffff;
  padding: 50px 0 0 0;
  position: relative;
}
.v-dialog--fullscreen .v-sheet {
  height: 100vh;
  top: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
}
.v-dialog--fullscreen {
  background: rgba(0,0,0,0.5);
  top: auto!important;
  bottom: 0;
}

.v-dialog--fullscreen .v-data-table{
  max-height: 78vh;
}
.notIncludedMembersSheet {
  min-height: 200px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  padding-top: 20vh;
  top: 0;
}
.v-data-table.show-select table > tbody > tr > td:nth-child(1),
.v-data-table.show-select table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 3;
  background: white;
}

/* 固定表头部第一个字段 */
.v-data-table.show-select table > tbody > tr > td.fixed:nth-child(2),
.v-data-table.show-select table > thead > tr > th.fixed:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 64px;
  z-index: 4!important;
  border-right: 1px solid #EEEEEE;
}
.v-menu__content {
  background: white;
}
.navDrawerContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.navDrawerContainer > .row:first-child {
  flex: none;
}
.navDrawerContainer > .row:last-child {
  flex: 1;
}
.v-label, input, .v-input {
  font-size: 0.875rem!important;
}
.v-toolbar__title {
  overflow: visible;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background: #ffffff!important;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 2%)!important;
}
.headerTab {
  border-radius: 5px;
  margin: 14px 0;
}
.headerTabActive {
  background: rgba(0,0,0,0.03);
}
.headerTab::before {
  border-radius: 5px!important;
}
.headerTab:hover::before {
  border-radius: 5px!important;
  opacity: 0.1!important;
}

body .theme--light.v-data-table.v-data-table--fixed-header thead th {
  background-color: #ffffff!important;
}
body .v-toolbar__content {
  padding: 0!important;
}
body .v-tab {
  font-size: 14px!important;
  font-weight: 500;
}
body .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 2%);
}
body .v-btn--is-elevated {
  box-shadow: none;
}
body .v-application .title {
  font-size: 18px!important;
}
body .v-text-field .v-label {
  color: rgba(0,0,0,.3);
}
body .theme--light.v-input, body .theme--light.v-input input, body .theme--light.v-input textarea, body .v-select.v-input--dense .v-select__selection--comma {
  font-size: 14px!important;
  font-weight: 500!important;
  color: #5E6278;
}
body .d-flex .v-main__wrap {
  display: flex;
  flex-direction: column;
}
body .v-text-field--filled {
  border-radius: 4px!important;
}
body .v-text-field>.v-input__control>.v-input__slot:before {
  border: none;
}
body .v-text-field>.v-input__control>.v-input__slot:after {
  border: none;
}
body .v-breadcrumbs li {
  font-size: 12px!important;
}

body .theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
  background: #f5f8fa;
}
body .outSideMain .theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
  background: #ffffff;
}
body .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
  background: #edeff1 !important;
}
body .outSideMain .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
  background: #dcdcdc !important;
}
body .v-menu__content {
  box-shadow: 0 3px 14px 2px rgb(0 0 0 / 8%);
}
body .v-breadcrumbs li:nth-child(2n) {
  padding: 0 6px;
}
body .v-data-table__checkbox .v-input--selection-controls__input .v-icon.mdi-checkbox-blank-outline::before {
  content: ""!important;
  background: #d6dde1;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
body span.inputLabel {
  color: #3F4254;
  line-height: 32px;
  font-weight: 500;
}
body .v-text-field--filled.v-input--dense>.v-input__control>.v-input__slot,
body .v-text-field--full-width.v-input--dense>.v-input__control>.v-input__slot {
  min-height: 40px;
}
body .v-text-field--filled:not(.v-text-field--single-line) input {
  margin-top: 4px;
}
body .v-text-field--filled.v-input--dense .v-label,
body .v-text-field--full-width.v-input--dense .v-label {
  top: 10px;
}
body .v-text-field--filled.v-input--dense .v-label--active,
body .v-text-field--full-width.v-input--dense .v-label--active {
  transform: translateY(-16px) scale(.75);
  background: #ffffff;
  padding: 1px 5px;
  border-radius: 30px;
}
.v-text-field.v-input--is-focused.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix {
  color: inherit;
}
.v-text-field.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix {
  color: #a5a9ab;
}
// 自适应
@media (min-width: 1264px) {
  .container {
    max-width: 100vw;
  }
}
@media (min-width: 960px)  {
  .container {
    max-width: 100vw;
  }
}

@media (max-width: 500px)  {
  body span.inputLabel {
    line-height: 20px!important;
  }
  body .v-navigation-drawer__content .v-list-item .v-list-item__title {
    font-weight: 500;
  }
  body .v-navigation-drawer__content .v-list-item:not(.v-item--active) .v-list-item__title {
    color: #5E6278;
  }
  body .v-navigation-drawer__content .v-list-item--link:before {
    border-radius: 5px!important;
    margin: 2px 15px;
    background-color: #a5a9ab !important;
  }
  .v-data-footer  {
    flex-wrap: nowrap;
  }
  .v-data-footer__pagination  {
    margin: 0 5px!important;
    white-space: nowrap;
  }
  .v-application--is-ltr .v-data-footer__select .v-select {
    margin-left: 5px!important;
  }
  // 抽屉的表格分页，间隔缩小
  .v-navigation-drawer__content .v-data-footer .v-application--is-ltr .v-text-field .v-input__append-inner .v-input__icon,
  .v-navigation-drawer__content .v-data-footer .v-application--is-rtl .v-text-field .v-input__prepend-inner .v-input__icon {
    min-width: 14px;
    width: 14px;
  }
  .v-navigation-drawer__content .v-data-footer .v-application--is-ltr .v-text-field .v-input__append-inner .mdi-menu-down::before,
  .v-navigation-drawer__content .v-data-footer .v-application--is-rtl .v-text-field .v-input__prepend-inner .mdi-menu-down::before {
    font-size: 16px;
  }
  .v-application--is-ltr .v-data-table--fixed-header .v-data-footer   {
    margin-right: 5px!important;
  }
  .v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
  .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
  .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
  .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
  .v-data-table>.v-data-table__wrapper>table>thead>tr>td,
  .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    padding: 0 5px!important;
  }
  .v-application table > tbody > tr > td.fixed:nth-child(2),
  .v-application table > thead > tr > th.fixed:nth-child(2),
  .v-application table > tbody > tr > td.fixed:last-child,
  .v-application table > thead > tr > th.fixed:last-child {
    position: relative!important;
  }
  .flex-column .v-data-table__wrapper {
    max-height: calc(100vh - 217px);
  }
  .flex-column.hasFilterContainer .v-data-table__wrapper {
    max-height: calc(100vh - 405px);
  }
  table > tbody > tr > td.fixed:nth-child(2),
  table > thead > tr > th.fixed:nth-child(2) {
    left: 0!important;
  }
  // 手机的完整表格太窄。加宽20px
  body .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th,
  body .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th,
  body .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height: 52px;
  }

  body .outSideMain {
    min-width: 100%;
    max-width: 100%;
  }
  body [xs='1'] { flex: 1; }
  body [xs='2'] { flex: 2; }
  body [xs='3'] { flex: 3; }
  body [xs='4'] { flex: 4; }
  body [xs='5'] { flex: 5; }
  body [xs='6'] { flex: 6; }
  body [xs='7'] { flex: 7; }
  body [xs='8'] { flex: 8; }
  body [xs='9'] { flex: 9; }
  body [xs='0'] { flex: 10; }
  body [xs='11'] { flex: 11; }
  body [xs='12'] { flex: 12; min-width: 100%}
}
</style>
