<style>
.v-list-item__title {
  font-size: 0.875rem!important;
}
.preBox { display: flex;  }
.preBox pre {
  flex: 1;
}
pre { font-size: 14px!important; overflow: auto;  }
pre.hide {  max-height: 40px; overflow: hidden; max-width: 200px }
pre:not(.hide) .string { color: green; white-space: normal; }
pre.hide .string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.cus-v-input .v-input__slot{
  margin: 0!important;
}
.cus-v-input .v-messages-outer,
.cus-v-input .v-text-field__details{
  position: absolute!important;
  bottom: -23px!important;
  left: -10px!important;
}
/* .v-btn:not(.v-btn--round).v-size--default {
    height: 40px!important;
} */
.cus-v-input .v-input__append-outer {
  margin-top: 0!important;
}
.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: #F6F6F6!important;
}
.cus-table {
  border: 1px solid #EEEEEE!important;
}
.cus-card {
  border: 1px solid #EEEEEE!important;
}
.v-data-table__progress{
  height: 10px!important;
}
.v-data-table__progress .v-progress-linear{
  max-width: 80vw;
}
.v-data-table__empty-wrapper td {
  max-width: 80vw;
  text-align: left;
}
.v-application .theme--dark.secondary{
  background-color: #22262e!important;
  border-color: #22262e!important;
}
.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #fbfbfb!important;
}

body {
  font-size: 14px;
  background: #f5f8fa!important;
}
.theme--light.v-application {
  background: transparent!important;
}
/* 固定表头部第一个字段 */
table > tbody > tr > td.fixed:nth-child(1),
table > thead > tr > th.fixed:nth-child(1)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 10!important;
  background: white;
  border-right: none;
}

/* 固定表头第二个字段 */
table > tbody > tr > td.fixed:nth-child(2),
table > thead > tr > th.fixed:nth-child(2)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 100px;
  z-index: 10;
  background: white;
  border-right: none;
}

/* 固定表头最后一个字段 */
table > tbody > tr > td.fixed:nth-last-child(1),
table > thead > tr > th.fixed:nth-last-child(1)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  right: 0;
  z-index: 10;
  background: white;
  border: none;
  box-shadow: none;
}
table > thead > tr > th.fixed:nth-last-child(1) {
  top: 0;
}
th  {
  white-space: nowrap;
}
td:not(.v-picker td),
th:not(.v-picker th) {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
}
.theme--light.v-data-table .v-data-footer {
  border-top: 0;
}
.theme--light.v-data-table.v-data-table--fixed-header thead th {
  border-bottom: thin solid rgba(0, 0, 0, .06) !important;
  box-shadow: none;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
.v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
  padding: 0 4px!important;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td .v-icon.v-icon {
  transform: translateY(-1px);
}
.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
  color: rgba(181,181,195);
  font-weight: 600;
  font-size: 13px;
}
.fullScreen {
  min-height: calc(100vh - 155px);
}
.flex-none {
  flex: none;
}
.v-application .v-btn--outlined.theme--light {
  background-color: white!important;
}
.v-application .v-btn--outlined.theme--dark {
  background-color: #333333!important;
}
.v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr>th.fixed {
  z-index: 12!important;
}
.v-data-table--fixed-header>.v-data-table__wrapper>table>thead>tr>th {
  z-index: 11!important;
}
.v-application .align-center.text-start {
  text-align: center!important;
}
.v-dialog--fullscreen .v-sheet .container{
  height: 100vh;
  margin: 15vh 0 0 0;
  background: #ffffff;
  padding: 50px 0 0 0;
  position: relative;
}
.v-dialog--fullscreen .v-sheet {
  height: 100vh;
  top: 0;
  position: fixed;
  background: rgba(0,0,0,0.5);
}
.v-dialog--fullscreen {
  background: rgba(0,0,0,0.5);
  top: auto!important;
  bottom: 0;
}

.v-dialog--fullscreen .v-data-table{
  max-height: 78vh;
  overflow-y: auto;
}
.notIncludedMembersSheet {
  min-height: 200px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  padding-top: 20vh;
  top: 0;
}
.v-data-table.show-select table > tbody > tr > td:nth-child(1),
.v-data-table.show-select table > thead > tr > th:nth-child(1) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 10;
  background: white;
}

/* 固定表头部第一个字段 */
.v-data-table.show-select table > tbody > tr > td.fixed:nth-child(2),
.v-data-table.show-select table > thead > tr > th.fixed:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 64px;
  z-index: 10!important;
  border-right: 1px solid #EEEEEE;
}
.v-menu__content {
  background: white;
}
.navDrawerContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.navDrawerContainer > .row:first-child {
  flex: none;
}
.navDrawerContainer > .row:last-child {
  flex: 1;
}
.v-label, input, .v-input {
  font-size: 0.875rem!important;
}
.v-toolbar__title {
  overflow: visible;
}

.theme--light.v-app-bar.v-toolbar.v-sheet {
  background: #ffffff!important;
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 2%)!important;
}
.headerTab {
  border-radius: 5px;
  margin: 14px 0;
  text-transform: none;
}
.headerTabActive {
  background: rgba(0,0,0,0.03);
}
.headerTab::before {
  border-radius: 5px!important;
}
.headerTab:hover::before {
  border-radius: 5px!important;
  opacity: 0.1!important;
}

body .theme--light.v-data-table.v-data-table--fixed-header thead th {
  background-color: #ffffff!important;
}
body .v-toolbar__content {
  padding: 0!important;
}
body .v-tab {
  font-size: 14px!important;
  font-weight: 500;
}
body .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0 1px 20px 0 rgb(0 0 0 / 2%);
}
body .v-btn--is-elevated {
  box-shadow: none;
}
body .v-application .title {
  font-size: 18px!important;
}
body .v-text-field .v-label {
  color: rgba(0,0,0,.3);
}
body .theme--light.v-input, body .theme--light.v-input input, body .theme--light.v-input textarea, body .v-select.v-input--dense .v-select__selection--comma {
  font-size: 14px!important;
  font-weight: 500!important;
  color: #5E6278;
}
body .d-flex .v-main__wrap {
  display: flex;
  flex-direction: column;
}
body .v-text-field--filled {
  border-radius: 4px!important;
}
body .v-text-field>.v-input__control>.v-input__slot:before {
  border: none;
}
body .v-text-field>.v-input__control>.v-input__slot:after {
  border: none;
}
body .v-application .pageSecondBar {
  flex-wrap: nowrap;
}
body .v-breadcrumbs li {
  font-size: 12px!important;
}
body .theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
  color: rgba(0,0,0,.28)!important;
}
body .theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
  background: #f5f8fa;
}
body .serverSearchContainer .theme--light.v-text-field--filled>.v-input__control>.v-input__slot {
  background: #ffffff;
}
body .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
  background: #edeff1 !important;
}
body .serverSearchContainer .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot:hover {
  background: #dcdcdc !important;
}
body .v-menu__content {
  box-shadow: 0 3px 14px 2px rgb(0 0 0 / 8%);
  z-index: 300!important;
}
body .v-breadcrumbs li:nth-child(2n) {
  padding: 0 6px;
}
body .v-data-table__checkbox .v-input--selection-controls__input .v-icon.mdi-checkbox-blank-outline::before {
  content: ""!important;
  background: #d6dde1;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
body span.inputLabel {
  color: #3F4254;
  line-height: 32px;
  font-weight: 500;
}
body .v-text-field--filled.v-input--dense>.v-input__control>.v-input__slot,
body .v-text-field--full-width.v-input--dense>.v-input__control>.v-input__slot {
  min-height: 40px;
}
body .v-text-field--filled:not(.v-text-field--single-line) input {
  margin-top: 4px;
}
body .v-text-field--filled.v-input--dense .v-label,
body .v-text-field--full-width.v-input--dense .v-label {
  top: 10px;
}
body .v-text-field--filled.v-input--dense .v-label--active,
body .v-text-field--full-width.v-input--dense .v-label--active {
  transform: translateY(-16px) scale(.75);
  background: #ffffff;
  padding: 1px 5px;
  border-radius: 30px;
}
body .v-navigation-drawer--temporary {
  z-index: 101!important;
}
body .v-overlay {
  z-index: 100!important;
}
.v-text-field.v-input--is-focused.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix {
  color: inherit;
}
.v-text-field.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix {
  color: #a5a9ab;
}
/* 下拉项 */
.v-menu__content .v-select-list{
  padding: 10px;
}
.v-menu__content .v-list-item{
  margin-bottom: 3px;
  height: 40px;
}
.v-menu__content .v-list-item--link:before{
  border-radius: 6px;
}
/* 关闭按钮 */
.v-menu__content .v-icon.mdi-close{
  font-size: 18px;
}
// 自适应
@media (min-width: 1264px) {
  .container {
    max-width: 100vw;
  }
}
@media (min-width: 960px)  {
  .container {
    max-width: 100vw;
  }
}

@media (max-width: 500px)  {
  body span.inputLabel {
    line-height: 20px!important;
  }
  body .v-navigation-drawer__content .v-list-item .v-list-item__title {
    font-weight: 500;
  }
  body .v-navigation-drawer__content .v-list-item:not(.v-item--active) .v-list-item__title {
    color: #5E6278;
  }
  body .v-navigation-drawer__content .v-list-item--link:before {
    border-radius: 5px!important;
    margin: 2px 15px;
    background-color: #a5a9ab !important;
  }
  .v-data-footer  {
    flex-wrap: nowrap;
  }
  .v-data-footer__pagination  {
    margin: 0 5px!important;
    white-space: nowrap;
  }
  .v-application--is-ltr .v-data-footer__select .v-select {
    margin-left: 5px!important;
  }
  // 抽屉的表格分页，间隔缩小
  .v-navigation-drawer__content .v-data-footer .v-application--is-ltr .v-text-field .v-input__append-inner .v-input__icon,
  .v-navigation-drawer__content .v-data-footer .v-application--is-rtl .v-text-field .v-input__prepend-inner .v-input__icon {
    min-width: 14px;
    width: 14px;
  }
  .v-navigation-drawer__content .v-data-footer .v-application--is-ltr .v-text-field .v-input__append-inner .mdi-menu-down::before,
  .v-navigation-drawer__content .v-data-footer .v-application--is-rtl .v-text-field .v-input__prepend-inner .mdi-menu-down::before {
    font-size: 16px;
  }
  .v-application--is-ltr .v-data-table--fixed-header .v-data-footer   {
    margin-right: 5px!important;
  }
  .v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
  .v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
  .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
  .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th,
  .v-data-table>.v-data-table__wrapper>table>thead>tr>td,
  .v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    padding: 0 5px!important;
  }
  .v-application table > tbody > tr > td.fixed:nth-child(2),
  .v-application table > thead > tr > th.fixed:nth-child(2),
  .v-application table > tbody > tr > td.fixed:last-child,
  .v-application table > thead > tr > th.fixed:last-child {
    position: relative!important;
  }
  .flex-column.hasFilterContainer .v-data-table__wrapper {
    max-height: calc(100vh - 405px);
  }
  table > tbody > tr > td.fixed:nth-child(2),
  table > thead > tr > th.fixed:nth-child(2) {
    left: 0!important;
  }
  // 手机的完整表格太窄。加宽20px
  body .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>th,
  body .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>th,
  body .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td,
  body .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height: 52px;
  }

  body .serverSearchContainer {
    min-width: 100%;
    max-width: 100%;
  }
  body [xs='1'] { flex: 1; }
  body [xs='2'] { flex: 2; }
  body [xs='3'] { flex: 3; }
  body [xs='4'] { flex: 4; }
  body [xs='5'] { flex: 5; }
  body [xs='6'] { flex: 6; }
  body [xs='7'] { flex: 7; }
  body [xs='8'] { flex: 8; }
  body [xs='9'] { flex: 9; }
  body [xs='10'] { flex: 10; }
  body [xs='11'] { flex: 11; }
  body [xs='12'] { flex: 12; min-width: 100%}
}
/* v4 新增 */
body {
  --cPrimaryColor: <$ ctx.app.config.primaryColor $>;
  --shadow-sm: 0px 1px 2px rgba(25, 39, 52, .05), 0px 0px 4px rgba(25, 39, 52, .1);
  --gray-900: #1F272E;
  --gray-800: #333C44;
}
body .v-application .primary {
  background-color: var(--cPrimaryColor) !important;
  border-color: var(--cPrimaryColor) !important;
}

body .v-application .primary--text {
  color: var(--cPrimaryColor) !important;
  caret-color: var(--cPrimaryColor) !important;
}
body{
  font-size: 13px;
  background: #F9FAFA !important;
}
.v-data-table>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>td, .v-data-table>.v-data-table__wrapper>table>thead>tr>td{
  min-height: 40px;
  height: 40px;
  color: #333C44;
  font-size: .8125rem;
}
td:not(.v-picker td), th:not(.v-picker th){
  border-bottom: thin solid #F4F5F6 !important;
}
.theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th{
  color: #505A62 !important;
  font-weight: normal;
}
.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot{
  min-height: 32px;
}
.v-input .v-label{
  line-height: 14px;
  font-size: .8125rem !important;
}
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-outer, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-inner, .v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-outer, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__append-outer, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-inner, .v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--single-line .v-input__prepend-outer{
  margin-top: 5px;
}
.mdi-close::before{
  font-size: 1rem;
}
body .theme--light.v-input, body .theme--light.v-input input, body .theme--light.v-input textarea, body .v-select.v-input--dense .v-select__selection--comma{
  font-size: .8125rem !important;
  font-weight: normal !important;
  color: var(--gray-900);
}
body .theme--light.v-text-field--filled>.v-input__control>.v-input__slot{
  background: #F9FAFA;
}

body .v-sheet.v-card:not(.v-sheet--outlined){
  /* box-shadow: var(--shadow-sm); */
}
body .headerTab{
  font-weight: 400;
}
body .headerTabActive {
  font-weight: 500;
}
.theme--light.v-tabs>.v-tabs-bar .v-tab--disabled, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active), .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-btn, .theme--light.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active)>.v-icon{
  color: var(--gray-900);
}
body .v-application .title{
  font-size: 1rem !important;
}
.v-list--dense .v-list-item .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list-item--dense .v-list-item__title{
  font-size: .8125rem !important;
  font-weight: normal;
}
.v-menu__content .v-list-item{
  height: 32px;
  min-height: auto;
}
.cus-v-input.bg-white .v-input__slot{
  background-color: #fff !important;
}
.v-treeview--dense .v-treeview-node__root{
  min-height: 34px;
  margin-bottom: 3px;
}
.theme--light.v-treeview .v-treeview-node__root:before, .theme--light.v-treeview .v-treeview-node__root:hover:before{
  border-radius: 6px;
}
.v-treeview-node__label{
  overflow: inherit;
}
.theme--light.v-data-table .v-row-group__header, .theme--light.v-data-table .v-row-group__summary{
  background: #F9FAFA;
}
.v-select__selection--comma{
  margin: 7px 4px;
}
body span.inputLabel{
  color: var(--gray-800);
  font-weight: 400;
  font-size: 12px;
}
.v-list-item__title{
  font-size: 13px !important;
}
.custom-tabs .v-tabs-bar{
  height: 32px;
}
.custom-tabs.v-tabs .v-tab:before, .custom-tabs.v-tabs .v-tab--active:before{
  display: none;
}
.custom-tabs .v-tab{
  min-width: auto;
  padding: 0px;
  margin-right: 30px;
  font-size: 13px !important;
}
.cus-v-input .v-input__icon--append button{
  font-size: 18px;
}
.theme--light.v-data-table .v-data-footer{
  justify-content: end;
}
.v-application--is-ltr .v-data-footer__select{
  margin-left: 30px;
}
.font-size-2{
  font-size: 12px;
}
.font-size-3{
  font-size: 13px;
}
.table-search-hint-text{
  font-size: 13px;
  flex: auto;
}
/* table 斑马纹 */
.v-data-table.zebraLine tr:nth-child(even),
.v-data-table.zebraLine tr:nth-child(even) td.fixed,
.v-data-table.zebraLine.fixed-first-column tr:nth-child(even) td:nth-child(1)
{
    background-color: #F9FAFA;
}
/* table行hover浅绿色背景色 */
.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper),
.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover td.fixed,
.theme--light.v-data-table.fixed-first-column>.v-data-table__wrapper>table>tbody>tr:hover td:nth-child(1)
{
  background: #EEF7ED !important;
}
/* table 定高 */
.fixed-table-height:not(.not-fixed-wrapper-height) .v-data-table__wrapper,
.fixed-table-wrapper-height .v-data-table__wrapper{
  flex: auto;
}
/* table 页脚 */
.v-data-footer{
  border-top: 1px solid rgba(0, 0, 0, .06) !important;
  margin-right: 0 !important;
}
/* table 分页紧凑 */
.v-application--is-ltr .v-data-footer__pagination{
  margin: 0 12px 0 4px;
}
.v-application--is-ltr .v-data-footer__select .v-select{
  margin: 8px 0 8px 14px;
}
.v-application--is-ltr .v-data-footer__select{
  margin-right: 8px;
  margin-left: 20px;
}
.v-application--is-ltr .v-data-footer__icons-before .v-btn:last-child{
  margin-right: 0;
}
.v-application--is-ltr .v-data-footer__icons-after .v-btn:first-child, .v-application--is-rtl .v-data-footer__icons-before .v-btn:last-child{
  margin-left: 0;
}
/* table 固定第一列 */
.fixed-first-column table > tbody > tr > td:nth-child(1),
.fixed-first-column table > thead > tr > th:nth-child(1)
{
  position: sticky !important;
  position: -webkit-sticky !important;
  left: 0;
  z-index: 12 !important;
  background: white;
  border-right: none;
}
/* drawer */
.v-navigation-drawer{
  overflow: revert;
}
.drawer-close-float-btn{
  top: 120px !important;
  left: -40px !important;
}

/* v4 手机端适配代码 */
@media (max-width: 500px) {
  /* 页面的主体container */
  body .v-application .pageBodyContainer {
    padding-right: 0!important;
    padding-left: 0!important;
  }
  /* 页面的主体card */
  body .v-application .pageBodyContainer .v-card {
    padding-right: 0!important;
    padding-left: 0!important;
    border-radius: 0!important;
  }
  /* 抽屉的标题 */
  body .v-application .pageBodyContainer .v-navigation-drawer .v-navigation-drawer__content .title {
    padding-left: 24px!important;
  }
  /* 抽屉表单元素 */
  body .v-application .pageBodyContainer .v-navigation-drawer .v-navigation-drawer__content > form > .row:nth-child(2) {
    padding-left: 12px!important;
    padding-right: 12px!important;
  }
  body .v-application .pageBodyContainer .v-navigation-drawer .v-navigation-drawer__content > form > .row:nth-child(2) > div {
    padding-top: 16px!important;
    padding-bottom: 0!important;
  }
  /* 抽屉的操作按钮 */
  body .v-application .pageBodyContainer .v-navigation-drawer .v-navigation-drawer__content > form > .row:nth-child(3) {
    padding-left: 12px!important;
    padding-right: 12px!important;
  }
  body .v-application .py-xs-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  body .v-application .table-search-hint-text {
    display: block!important;
    min-width: 100%!important;
    margin-top: 10px!important;
  }
  /* 表格的底部 >>>>>> */
  body .v-application .v-data-footer {
    flex-wrap: wrap!important;
    justify-content: start!important;
  }
  body .v-application .v-data-footer__select {
    flex: 1!important;
  }
  /* <<<<< 表格的底部 */
  /* 抽屉 除了系统菜单抽屉 */
  body .v-application .v-navigation-drawer:not(.pageNavBar) {
    width: 100%!important;
  }
  body .v-application .v-navigation-drawer__content {
    position: relative!important;
  }
  /* 抽屉 绿色关闭按钮 */
  body .v-application .v-navigation-drawer__content .drawer-close-float-btn {
    position: absolute!important;
    top: 10px!important;
    left: calc(100% - 40px)!important;
    border-radius: 100% !important;
    height: 30px;
    width: 30px;
  }
  /* 系统菜单 item */
  body .pageNavBar .v-list-item {
    border-bottom: 1px solid #EEEEEE!important;
    min-height: 42px!important;
    padding: 0 15px!important;
  }
  body .pageNavBar .v-list-item:first-child {
    height: 50px!important;
  }
  body .pageNavBar .v-navigation-drawer__content .v-list-item--link:before {
    margin: 0!important;
    background-color: transparent!important;
  }
  body .v-application .pageHeader {
    padding: 0 16px!important;
  }
  body .v-application .pageHeader .v-toolbar__title {
    flex: 1!important;
  }
  body .serverSearchAction {
    justify-content: right!important;
  }
  /* 页面第二个工具栏 */
  body .v-application .pageSecondBar {
    flex-wrap: wrap!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
  }
  body .v-application .pageSecondBar .serverSearchContainer {
    padding-top: 0!important;
  }
  body .v-application .pageSecondBar .serverSearchContainer > .row {
    margin: 0 -8px!important;
  }
  body .v-application .pageSecondBar .serverSearchContainer > .row > div {
    padding-top: 0!important;
    padding-left: 8px!important;
    padding-right: 8px!important;
  }
  body .v-application .pageSecondBar .serverSearchContainer > .row > div > div {
    margin-right: 0!important;
  }
}
</style>
