<!--resetTableMaxHeight.html start-->
<script>
   resetTableMaxHeight = () => {
    const tables = document.getElementsByClassName('v-data-table__wrapper');
    if (_.isEmpty(tables)) {
      window.requestAnimationFrame(() => {
        resetTableMaxHeight();
      })
    } else {
      for (const table of tables) {
        table.style.maxHeight = window.innerHeight - table.offsetTop - 210 + 'px';
      }
    }
  }
  window.onresize = () => {
    resetTableMaxHeight();
  }
   resetTableMaxHeight();
</script>
<!--resetTableMaxHeight.html end-->
